/* Estilo que hizo Javi de prueba */

body{
	font-family: arial, helvetica;
	background: #2A2A2A;
	font: white;
}

.menu{
	list-style: none;
	padding: 0;
	background: #2A2A2A;
	border: 1px solid #6F6F6F;
	border-top: #6F6F6F;
	border-left: #6F6F6F;
	border-right: #6F6F6F;
	border-width: 3px;
	
	
}

.menu li a{
	text-decoration: none;
	color: white;
	padding: 20px;
	display: block;

}
input {
    background-color:#1c1c1c;
    width: 1000px;
	border-color: #6F6F6F;
	border-collapse: collapse;
	border-style: solid;
	height: 28px;
	padding-right: 200px;
	
	
}
.menu li{
	display: inline-block;
	text-align: center;
}

.menu li input a:hover{
	background:#1c1c1c;
	
}

#lupa {
	color: white;
	padding-left: 200px; 
	padding-right: 10px;
}

#iniciar{
	background-color: #FC4C7C;
	border-radius: 0.5em;
	font: white;
	height: 30px;
	width: 70px;
	border-collapse: collapse;
	border-style: solid;
	border-color: #FC4C7C;
}