<section id="about" class="about">
    <div class="container">

        <div class="row no-gutters">
            <div class="col-lg-4 video-box">
                <img src="assets/img/miniaturas/miniatura2.png" id="miniatura" class="img-fluid" alt="">
                <a href="https://www.youtube.com/watch?v=2Rmz-wL2y6k&feature=youtu.be" class="venobox play-btn mb-4" data-vbtype="video"
                    data-autoplay="true"></a>
            </div>

            <div class="col-lg-8 d-flex flex-column justify-content-center about-content">

                <div class="section-title">
                    <h2>Sobre nosotros</h2>
                    <p>CreativeSpace es un grupo de desarrolladores que crea un proyecto con la finalidad de compartir
                        cualquier tipo de diseño creativo de manera gratuita y de fácil acceso para todos los usuarios.
                    </p>
                </div>

                <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                    <!-- <div class="icon"><i class="bx bx-headphone"></i></div> -->
                    
                    <div align="center">
                        <!-- <h4 class="title"><a href="">audio explicativo</a></h4> -->
                        <audio controls>
                            <source src="assets/audio/podcast.mp3" type="audio/mp3">
                                Tu navegador no soporta audio HTML5.
                        </audio>
                    </div>
                    <p class="description"></p>
                </div>

                <!-- <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon"><i class="bx bx-gift"></i></div>
                    <h4 class="title"><a href="">Nemo Enim</a></h4>
                    <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                        praesentium voluptatum deleniti atque</p>
                </div> -->

            </div>
        </div>

    </div>