<div>
    <button type="button" class="mobile-nav-toggle d-lg-none">
        <i class="icofont-navigation-menu">

        </i>
    </button>
    <!-- ======= Header ======= -->
   

    <!-- SLIDES -->
    <app-slides></app-slides>

    <main id="main">


        <!-- COMUNIDAD -->
        <app-galeria></app-galeria>
        <!-- SERVICIOS -->
        <app-servicios></app-servicios>
        <!-- ABOUT-->
        <app-about></app-about>
        <!-- TEAM -->
        <app-team></app-team>
        <!-- CONTACTO -->
        <app-contacto></app-contacto>
    </main>

    
  
</div>