<div>
    <button type="button" class="mobile-nav-toggle d-lg-none">
        <i class="icofont-navigation-menu">

        </i>
    </button>
    <!-- ======= Header ======= -->
    <header id="header">
        <div class="container">

            <div class="logo float-left">
                <a href="index.html"><img src="assets/img/logo2.png" alt="logo"
                        class="img-fluid  justify-content-center"></a>
                <!-- <h1 class="text-light"><a href="index.html"><span><b>CREATIVE</b>SPACE</span></a></h1> -->
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
            </div>

            <nav class="nav-menu float-right d-none d-lg-block">
                <ul>
                    <li class="active"><a href="index.html">Inicio</a></li>
                    <li><a href="#about">Sobre nosotros</a></li>
                    <li><a href="#services">Servicios</a></li>
                    <li><a href="#portfolio">Galeria</a></li>
                    <li><a href="#team">Equipo</a></li>
                    <li><a href="#contact">Contacto</a></li>
                    <li><a>Light mode</a></li>
                    <li id="lightmode"><label class="switch">
                            <!-- light-mode -->
                            <input type="checkbox">
                            <span class="slider round"></span>
                        </label></li>
                </ul>
            </nav><!-- .nav-menu -->

        </div>
    </header><!-- End Header -->

    <!-- SLIDES -->
    <app-slides></app-slides>

    <main id="main">


        <!-- COMUNIDAD -->
        <app-galeria></app-galeria>
        <!-- SERVICIOS -->
        <app-servicios></app-servicios>
        <!-- ABOUT-->
        <app-about></app-about>
        <!-- TEAM -->
        <app-team></app-team>
        <!-- CONTACTO -->
        <app-contacto></app-contacto>
    </main>


</div>