<section id="team" class="team">
    <div class="container">

        <div class="section-title">
            <h2>Nuestro equipo</h2>
            <p>Conoce a los colaboradores que trabajan dia a dia en Creative Space</p>
        </div>

        <div class="row">

            <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up">
                <div class="member">
                    <div class="pic"><img src="assets/images/team/javi.png" class="img-fluid" alt=""></div>
                    <div class="member-info">
                        <h4>Javier Garcia</h4>
                        <span>CEO</span>
                        <div class="social">
                            <a href=""><i class="icofont-twitter"></i></a>
                            <a href=""><i class="icofont-facebook"></i></a>
                            <a href=""><i class="icofont-instagram"></i></a>
                            <a href=""><i class="icofont-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                <div class="member">
                    <div class="pic"><img src="assets/images/team/juanjo.jpg" class="img-fluid" alt=""></div>
                    <div class="member-info">
                        <h4>Juanjo Nicolas</h4>
                        <span>CEO</span>
                        <div class="social">
                            <a href=""><i class="icofont-twitter"></i></a>
                            <a href=""><i class="icofont-facebook"></i></a>
                            <a href=""><i class="icofont-instagram"></i></a>
                            <a href=""><i class="icofont-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                <div class="member">
                    <div class="pic"><img src="assets/images/team/vicente.jpg" class="img-fluid" alt=""></div>
                    <div class="member-info">
                        <h4>Vicente Martinez</h4>
                        <span>CEO</span>
                        <div class="social">
                            <a href=""><i class="icofont-twitter"></i></a>
                            <a href=""><i class="icofont-facebook"></i></a>
                            <a href=""><i class="icofont-instagram"></i></a>
                            <a href=""><i class="icofont-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                <div class="member">
                    <div class="pic"><img src="assets/images/team/perro.jpg" class="img-fluid" alt=""></div>
                    <div class="member-info">
                        <h4>Perro de la oficina</h4>
                        <span>El tio esta ahi sentado</span>
                        <div class="social">
                            <a href=""><i class="icofont-twitter"></i></a>
                            <a href=""><i class="icofont-facebook"></i></a>
                            <a href=""><i class="icofont-instagram"></i></a>
                            <a href=""><i class="icofont-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>